<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Lead</title>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../">KAM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../createLeads">Create Lead</a>
            </li>
            <form class="d-flex" action="../searchResult/" method="post">
              <input style="width:600px;" class="form-control me-2" type="search" name="searchResult" placeholder="Enter Lead Details" aria-label="Search">{% csrf_token %}
              <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <li class="nav-item">
              <form class="d-flex" action="../getLeadIDForInteraction/" method="post">
                <input class="form-control me-2" type="hidden" name="leadID" value="{{leadData.leadID}}">{% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Add Interaction</button>
              </form>
            </li>
            <li class="nav-item">
              <form class="d-flex" action="../getLeadIDForTracker/" method="post">
                <input class="form-control me-2" type="hidden" name="leadID" value="{{leadData.leadID}}">{% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Add Tracker</button>
              </form>
            </li>
            <li class="nav-item">
              <form class="d-flex" action="../deleteLead/" method="post">
                <input class="form-control me-2" type="hidden" name="LID" value="{{leadData.leadID}}">{% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Delete Lead</button>
              </form>
            </li>
            <li class="nav-item">
              <form class="d-flex" action="../getLeadIDForUpdateLead/" method="post">
                <input class="form-control me-2" type="hidden" name="LeadID" value="{{leadData.leadID}}">{% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Update Lead</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="alert alert-primary" role="alert">
      <div style="font-size: larger;font-weight: bold;">Lead Details</div> 
    </div>
    <ul class="list-group" >
      <li class="list-group-item">LeadID : {{leadData.leadID}}</li>
      <li class="list-group-item">Restaurant Name : {{leadData.restaurantName}}</li>
      <li class="list-group-item">Address : {{leadData.address}}</li>
      <li class="list-group-item">Contact Number : {{leadData.contactNumber}}</li>
      <li class="list-group-item">Current Status : {{leadData.currentStatus}}</li>
      <li class="list-group-item">Call Frequency : {{leadData.callFrequency}}</li>
      <li class="list-group-item">Last Call Made : {{leadData.lastCallMade}}</li>
      <li class="list-group-item">KeyAccountManagerID : {{leadData.KAMID}}</li>
    </ul>


    <!-- interaction -->
    
    <div class="alert alert-primary" role="alert">
      <div style="font-size: larger;font-weight: bold;">Interactions</div> 
    </div>
    <div class = "tableContainer">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Interaction ID</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Note</th>
            <th scope="col">Follow Up</th>
          </tr>
        </thead>
        <tbody>
          {% for interaction in interactionData %}
          <tr>
            <td>{{interaction.interactionID}}</td>
            <td>{{interaction.date}}</td>
            <td>{{interaction.type}}</td>
            <td>{{interaction.notes}}</td>
            <td>{{interaction.followUp}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    
    <!-- tracking details -->
     
    <div class="alert alert-primary" role="alert">
      <div style="font-size: larger;font-weight: bold;">Tracking details</div> 
    </div>
    
    <div class = "tableContainer">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Tacking ID</th>
          <th scope="col">Staff Name</th>
          <th scope="col">Staff contact number</th>
          <th scope="col">Staff Role</th>
          <th scope="col">Staff EmailId</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for tracking in trackingData %}
          <tr>
            <td>{{tracking.trackingID}}</td>
            <td>{{tracking.name}}</td>
            <td>{{tracking.phoneNumber}}</td>
            <td>{{tracking.role}}</td>
            <td>{{tracking.emailID}}</td>
            <td><form action="../deleteTracking/" method="POST"><input type="hidden" name="leadID" value="{{leadData.leadID}}"><input type="hidden" name="trackingID" value="{{tracking.trackingID}}">{% csrf_token %}<button type="submit" class="btn btn-primary btn-sm">Remove</button></form></td>
            <td><form action="../getLeadIDForUpdateTracking/" method="POST"><input type="hidden" name="leadID" value="{{tracking.trackingID}}"><input type="hidden" name="trackingID" value="{{tracking.trackingID}}">{% csrf_token %}<button type="submit" class="btn btn-primary btn-sm">update</button></form></td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>